body, html {
	background-color: #108a93;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	color: white;
	text-align: center;
 }

div, label, input {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.vignette {
	box-shadow: 0px 0px 200px -10px #042629 inset;
	min-height:100%;
	z-index: -1;
}

h1, h1 a, h2, h3 {
	font-family: 'Glass Antiqua', cursive;
	font-weight: normal;
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
}

h1 {
	display: inline-block;
	font-size: 100px;
	margin: 0 auto;
	padding-top: 30px;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

h2 {
	font-size: 40px;
	margin-top: 40px;
	margin-bottom: 20px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

h3 {
	font-size: 30px;
	margin-top: 0px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

div.input_form {
	display: block;	/* same as default, leave just in case */
	overflow: auto; /* makes height expand with content */
	margin: 0 auto; /* centers form on page */
	max-width: 750px;
	min-width: 40%; /* relative to parent div */
	padding: 25px 25px 0px 25px; /* internal padding of form, set bottom value on .input_row */
	margin-top: 30px;
	background-color: #0d747c;
	border: 1px solid #0a565c;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

div.input_row {
	display: block; /* makes row takes up full width of form */
	overflow: hidden; /* makes height expand with content */
	width: 100%; /* relative to form */
	margin-bottom: 25px; /* should be same as form padding */
	padding: 0; /* for better scaling, don't do internal padding within a row */
	line-height: 48px; /* aligns baseline of label with baseline of textbox */
}

.input_label {
	display: inline-block;
	float: left;
	width: 30%;
	padding-right: 22px; /* moves label away from textbox */
	font-family: 'Glass Antiqua', cursive;
	font-size: 36px;
	letter-spacing: 1px;
	text-align: right;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.input_box {
	display: inline-block;
	float: left;
	width: 70%;
	padding: 12px 10px 5px 10px; /* internal padding within textbox */
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	border-radius: 6px;
}

input[type=submit] {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	width: 300px;
	height: 60px;
	margin-top: 30px;
	margin-bottom: 80px;
	color: white;
	text-align: center;
	background: rgba(22, 200, 58, 0.75);
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	border: 1px solid rgba(10, 86, 92, 0.3);
	border-radius: 6px;
	box-shadow: 2px 3px 6px -2px rgba(0,0,0,0.7);
}

div.flash_error {
	max-width: 450px;
	min-width: 33%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 20px;
	border: 2px solid #d59521;
	border-radius: 6px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

div.flash_error p {
	margin: 0;
	padding: 0;
	margin-bottom: 16px;
}

div.flash_error p:last-child {
	margin-bottom: 0;
}

span.info {
	position: relative;
	display: inline-block;
	clear:both;
	margin: 0 auto;
	margin-top: 30px;
	/*min-width: 80%;*/
	min-width: 55%;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	/*border: 1px solid red;*/
}

div.info_row {
	position: relative;
	display: block;
	clear: both;
	overflow: auto;
}

.info_label {
	display: inline-block;
	float: left;
	width: 40%;
	padding: 5px;
	padding-right: 20px;
	text-align: right;
	font-family: 'Glass Antiqua', cursive;
	font-size: 30px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.info_desc {
	display: inline-block;
	float: left;
	width: 60%;
	padding: 5px;
	padding-top: 10px;
	text-align: left;
	font-size: 20px;
}

div.departures {
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	font-size: 20px;
}

table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  min-width: 66%;
  margin: 0 auto;
  margin-top: 46px;
  margin-bottom: 14px;
}

th, td {
  overflow: hidden;
  line-height: 2;
}

th h2 {
	margin: 0px;
	padding-bottom: 16px;
	line-height: 1;
	text-align: center;
}

td {
	text-align: center;
  border-top: 1px solid #0d747c;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  font-size: 20px;
}

tbody > tr:nth-child(even) > td {
	background-color: #0f7f88;
}

tr:hover > td {
	background-color: #13a0aa !important;
}

td.travel_time {
	width: 40%;
}

td.unavailable {
	text-align: center;
	font-size: 16px;
}

div.directions {
	display: inline-block;
	position: relative;
	min-width: 25%;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	text-align: left;
}

ol {
	margin: 0 auto;
	margin-top: 6px;
}

li {
	padding-bottom: 16px;
	line-height: 1.5;
}


