<!DOCTYPE html>
<html>
<head>
  <title>BetterCommute</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Better Commute</h1>

<%= yield %>

</body>
</html>
